.organizacion-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-org{
    font-size: 40px;
    font-weight: 400;
    color: #6278F7;
    border-bottom: 4px solid #6278F7;
    padding: 20px;
}

.add-img{
    position: absolute;
    right: 10%;
    cursor: pointer;
}